<script lang="ts">
    // CommitChart.ts
    import {Pie, mixins} from "vue-chartjs";
    import {Component, Prop, Vue, Watch} from "vue-property-decorator";
    import CarStatistic from "../components/CarStatistic.vue";
    import ParsedCar from "../models/ParsedCar";
    import Car from "../models/Car";
    import CarFilter from "../utils/CarFilter";
    import CarStatus from "../models/CarStatus";

    const {reactiveProp} = mixins;

    @Component({
        extends: Pie,
    })
    export default class PieChart extends Vue<Pie> {

        labels = [];

        label = "Diagramm nach Automarke";

        data = [];

        backgroundColor = ["#090088", "#930077", "#e4007c", "#ffbd39", "#f76262", "#216583", "#293462",];

        @Prop()
        carStatus: CarStatus;

        parsedCar:ParsedCar[] = [];

        @Watch("carStatus.cars")
        onChildChanged(val: Car[], oldVal: Car[]) {
            this.labels = [];
            this.parsedCar = [];
            for(let car of val){
                this.parsedCar.push(new ParsedCar(car));
            }
            for (let model of ParsedCar.models) {
                this.labels.push(model);
                this.data.push(this.parsedCar.filter(e => e.model == model).length);
            }
            this.renderPieChart();
        }


        mounted() {
            this.renderPieChart();
        }

        renderPieChart(){
            this.renderChart({
                labels: this.labels,
                datasets: [
                    {
                        label: 'Data One',
                        data: this.data,
                        backgroundColor: this.backgroundColor
                    }
                ]
            })
        }
    }
</script>

<style scoped>

</style>