<template>
    <div>
        <nav class="navbar navbar-expand-sm bg-light">
            <!-- Links -->
            <ul class="navbar-nav">
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Link 1</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Link 2</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <router-link tag="a" class="nav-link" to="/car">{{$t("nav.allCars")}}</router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class="nav-link" to="/statistic">{{$t("nav.statistic")}}</router-link>
                </li>
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle"-->
                       <!--id="dropdown09"-->
                       <!--data-toggle="dropdown"-->
                       <!--aria-haspopup="true"-->
                       <!--aria-expanded="false">-->
                        <!--<flag v-bind:iso="currentLocale"/>-->
                        <!--{{currentLocaleName}}-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="dropdown09">-->
                        <!--<a class="dropdown-item" @click="setLocale('de')">-->
                            <!--<flag iso="de"/>-->
                            <!--Deutsch</a>-->
                        <!--<a class="dropdown-item" @click="setLocale('ru')">-->
                            <!--<flag iso="ru"/>-->
                            <!--Russian</a>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>

        </nav>
        <div id="app" class="container-fluid">
            <router-view/>
        </div>
    </div>
</template>

<script lang="ts">

    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component({})
    export default class App extends Vue {

        localesName = {
            "de":"Deutsch",
            "ru":"Russian"
        };

        created(){
            let storageLocale = localStorage.getItem("locale");
            if(storageLocale != null && this.localesName[storageLocale] != null){
                this.setLocale(storageLocale);
            }
        }

        setLocale(locale: string) {
            localStorage.setItem("locale", locale);
            this.$i18n.locale = locale;
        }

        get currentLocale() {
            return this.$i18n.locale;
        }

        get currentLocaleName() {
            return this.localesName[this.$i18n.locale];
        }
    }
</script>

<style lang="scss">
</style>
