<template>
    <div class="row">
        <div class="col-12 border-bottom">
            <h1>
                {{$t("carPage.viewAllCar")}}
            </h1>
            <small class="lead">
                {{$t("carPage.viewAllCarDesc")}}
            </small>
        </div>
        <div class="form-group col-12">
            <label for="carStatus">
                {{$t("carPage.selectCarStatus")}}:
            </label>
            <select id="carStatus" class="form-control" v-model="selectedStatus"
                    @change="updateCarList(selectedStatus)">
                <option v-for="status in statusesProp" v-bind:value="status">
                    {{status.status}}
                </option>
            </select>
        </div>
        <div class="form-check col-12 border-bottom">
            <label class="form-check-label" for="onlyMazdaMotors">
                {{$t("carPage.onlyMazdaMotors")}}:
            </label>
            <input type="checkbox" id="onlyMazdaMotors" v-model="onlyMazdaMotors">
        </div>
        <div class="col-12">
            <car-list :cars="selectedCars" :isLoaded="carsIsLoaded">

            </car-list>
        </div>
    </div>
</template>

<script lang="ts">

    import {Component, Prop, Vue, Watch} from "vue-property-decorator";
    import axios from "axios";
    import Notifications from "../utils/Notifications";
    import CarStatus from "../models/CarStatus";
    import Car from "../models/Car";
    import ApiRequests from "../utils/ApiRequests";
    import CarList from "../components/CarList.vue"
    import CarFilter from '../utils/CarFilter';

    @Component({
        components: {
            CarList
        }
    })
    export default class IndexPage extends Vue {

        statusesProp: Array<CarStatus>;

        selectedStatus: CarStatus;

        private selectedCarsProp: Array<Car>;

        carsIsLoaded: boolean;

        private onlyMazdaMotorsProp: boolean = true;

        constructor() {
            super();
            this.statusesProp = [];
            this.selectedStatus = new CarStatus(-1, "--", []);
            this.selectedCarsProp = [];
            this.carsIsLoaded = true;
        }

        mounted() {
            let that = this;
            axios.get(ApiRequests.statuses).then(
                function (response) {
                    let statuses: Array<CarStatus> = CarStatus.fromArray(response.data);
                    that.statusesProp = [];
                    for (let status of statuses) {
                        that.statusesProp.push(status);
                    }
                }
            ).catch(function (error) {
                Notifications.errorNotification(error);
            })
        }

        updateCarList(status: CarStatus) {
            if (status.id == -1) {
                return;
            }
            let that = this;
            let statusId = status.id;
            that.carsIsLoaded = false;
            return axios.get(ApiRequests.statusCars(statusId))
                .then(
                    function (response) {
                        let cars: Car[] = Car.fromArray(response.data);
                        that.selectedCarsProp = [];
                        for (let car of cars) {
                            that.selectedCarsProp.push(car);
                        }
                        that.carsIsLoaded = true;
                    }
                )
                .catch(function (error) {
                    Notifications.errorNotification(error);
                    that.carsIsLoaded = true;
                })
        }

        get selectedCars(): Array<Car> {
            if (this.onlyMazdaMotorsProp) {
                return CarFilter.getMazdaCars(this.selectedCarsProp);
            }else {
                return this.selectedCarsProp;
            }
        }


        get onlyMazdaMotors(): boolean {
            return this.onlyMazdaMotorsProp;
        }

        set onlyMazdaMotors(value: boolean) {
            this.onlyMazdaMotorsProp = value;
        }
    }
</script>

<style>

</style>