<template>
    <div>
        <div class="col-12 border-bottom">
            <h1>{{$t("carStatisticPage.description")}}</h1>
            <small v-if="accountBalanceLoaded"
                   v-bind:class="balanceLessThanCarScore? 'text-danger' : 'text-success'">
                {{$t("carStatisticPage.orderedCarsScore")}}: {{orderedCarsScore * 1.19}},
                {{$t("carStatisticPage.accountBalance")}}: {{accountBalance}}
            </small>
            <small v-else="">
                {{$t("loading")}}
            </small>
        </div>
        <div style="display: flex; flex-direction: row; flex-wrap:wrap; width: 100%; ">
            <div v-for="status in statusesProp" style="width: 50%">
                <h5 class="text-center">Status: {{status.status}}</h5>
                <pie-chart :carStatus="status">
                </pie-chart>
            </div>
        </div>
        <div v-for="status in statusesProp">
            <car-statistic :carStatus="status">
            </car-statistic>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from "vue-property-decorator";
    import axios from "axios";
    import Notifications from "../utils/Notifications";
    import CarStatus from "../models/CarStatus";
    import Car from "../models/Car";
    import ApiRequests from "../utils/ApiRequests";
    import CarList from "../components/CarList.vue"
    import PieChart from "../carts/PieChart.vue"
    import CarStatistic from "../components/CarStatistic.vue"
    import CarFilter from "../utils/CarFilter";

    @Component({
        components: {
            CarList, CarStatistic, PieChart
        }
    })
    export default class CarStatisticPage extends Vue {
        statusesProp: Array<CarStatus>;
        carsIsLoaded: boolean;

        private selectedCarsProp: Array<Car>;

        accountBalanceLoaded: boolean = false;
        accountBalance: number = 0;
        // //Заказанные
        // private ordered:CarStatus;
        // //В наличии
        // private inStock:CarStatus;
        // //Проданные
        // private sold:CarStatus;

        constructor() {
            super();
            this.statusesProp = [];
            this.selectedCarsProp = [];
            this.carsIsLoaded = true;
        }

        mounted() {
            let that = this;
            axios.get(ApiRequests.statuses).then(
                function (response) {
                    let statuses: Array<CarStatus> = CarStatus.fromArray(response.data);
                    that.statusesProp = [];
                    //1 - Заказанные, 2 - В наличии, 4 - Проданные
                    for (let status of statuses.filter(s => s.id == 1 || s.id == 2 || s.id == 4)) {
                        if(status.id == 4){
                            let date30DayBefore = new Date().getTime() - 1000 * 60 * 60 * 24 * 30;
                            let date60DayBefore = new Date().getTime() - 1000 * 60 * 60 * 24 * 60;

                            let status30Day = new CarStatus(status.id, status.status + "(30 day)", status.cars);
                            let status60Day = new CarStatus(status.id, status.status + "(60 day)", status.cars);

                            that.statusesProp.push(status30Day);
                            that.statusesProp.push(status60Day);

                            that.updateStatusCars(status, date30DayBefore, (cars, s) => {
                                let mazdaCars = CarFilter.getMazdaCars(cars);
                                console.log(mazdaCars);

                                let cars30DayBefore: Car[] = mazdaCars
                                    .filter(c =>  c.carHistory.deliveryDate.getTime() > date30DayBefore);
                                console.log(cars30DayBefore);

                                let cars60DayBefore: Car[] = mazdaCars
                                    .filter(c =>  c.carHistory.deliveryDate.getTime() > date60DayBefore);
                                console.log(cars60DayBefore);

                                status30Day.cars = cars30DayBefore;
                                status60Day.cars = cars60DayBefore;
                            });
                        }else {
                            that.statusesProp.push(status);
                            that.updateStatusCars(status, null, (cars, s) => {
                                let c: Car[] = CarFilter.getMazdaCars(cars);
                                s.cars = c;
                            });
                        }
                    }
                }
            ).catch(function (error) {
                Notifications.errorNotification(error);
            });

            axios.get(ApiRequests.accountBalance()).then(
                function (response) {
                    that.accountBalance = response.data;
                    that.accountBalanceLoaded = true;
                }
            ).catch(function (error) {
                that.accountBalanceLoaded = true;
                Notifications.errorNotification(error);
            });

        }

        async updateStatusCars(status: CarStatus, dateFilter:number, afterSuccess) {
            let that = this;
            let statusId = status.id;
            that.carsIsLoaded = false;
            return axios.get(ApiRequests.statusCarsByCarType(statusId, 5))
                .then(
                    function (response) {
                        afterSuccess(Car.fromArray(response.data), status);
                    }
                )
                .catch(function (error) {
                    Notifications.errorNotification(error);
                })
        }

        get orderedCarsStatus(): CarStatus {
            let statuses = this.statusesProp.filter(
                e => e.status.toLowerCase().trim().includes("Bestellt / Vorlauf".toLowerCase())
            );
            if (statuses.length == 0) {
                return null;
            } else {
                return statuses[0];
            }
        }

        get orderedCarsScore(): number {
            let score = 0;
            let status = this.orderedCarsStatus;
            if (status == null) {
                return 0;
            }
            this.orderedCarsStatus.cars.forEach(car => {
                score += car.carHistory.price
            });
            return parseInt(score.toString());
        }


        get balanceLessThanCarScore() {
            return this.orderedCarsScore > this.accountBalance && this.accountBalanceLoaded;
        }
    }
</script>

<style scoped>

</style>