<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{$t("carList.model")}}</th>
            <th scope="col">{{$t("carList.mark")}}</th>
            <th scope="col">{{$t("carList.price")}}</th>
            <th scope="col">{{$t("carList.deliveryDate")}}</th>
        </tr>
        </thead>
        <tbody v-if="!isLoaded">
            <tr>
                <td colspan="3" align="center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">{{$t("loading")}}...</span>
                    </div>
                </td>
            </tr>
        </tbody>

        <tbody v-else="">
        <car-list-element v-for="car of cars" :car="car">
        </car-list-element>
        </tbody>
    </table>

</template>

<script lang="ts">

    import {Component, Prop, Vue} from "vue-property-decorator";

    import CarListElement from "../components/CarListRow.vue";
    import Car from "../models/Car";

    @Component({
        components: {
            CarListElement
        }
    })
    export default class CarList extends Vue {

        @Prop()
        isLoaded: boolean;

        @Prop()
        cars: Array<Car>;

    }
</script>

<style scoped>

</style>