<template>
    <tr>
        <th scope="row">{{car.id}}</th>
        <td>{{car.model}}</td>
        <td>{{car.carHistory == null ? "-" : car.carHistory.mark == null ? "--" : car.carHistory.mark.trim()}}</td>
        <td>{{car.carHistory == null ? "-" : car.carHistory.price * 1.19}}</td>
        <td>{{car.carHistory == null ? "-" : formatDate(car.carHistory.deliveryDate)}}</td>
    </tr>

</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import Car from "../models/Car";
    import DateUtil from '../utils/DateUtil';

    @Component
    export default class CarListRow extends Vue{

        @Prop()
        car:Car;

        formatDate(date:Date){
            return date == null ? "" : DateUtil.formatDate(date, "MM-DD-YYYY");
        }

    }
</script>

<style scoped>

</style>