<template>
    <div class="col-12 pb-5">
        <div>
            <h1 class="text-center">{{$t("carStatistic.state")}}: {{carStatus.status}}</h1>
        </div>

        <div>
            <div style="display: flex; flex-direction: row;">
                <div class="border"
                     style="height: 50px; display: flex; justify-content: center; align-items: center; overflow: hidden;"
                     v-bind:style="columnStyle">
                    {{$t("carStatistic.model")}}
                </div>

                <div v-for="property of equipments" class="border-bottom border-top border-right"
                     style="height: 50px; display: flex; align-items: center; overflow: hidden;"
                     v-bind:style="columnStyle">
                    {{$t("carStatistic." + equipmentName + property)}}
                </div>

                <div class="border-bottom border-top border-right"
                     style="height: 50px; display: flex; align-items: center; overflow: hidden;"
                     v-bind:style="columnStyle">
                    {{$t("carStatistic.total")}}
                </div>
            </div>

            <car-statistic-element v-for="model of models"
                                   :model="model"
                                   :parsedCars="getParsedCarsByModel(model)"
                                   :columnWidthPercent="columnWidth"
                                   :rowHeightPixel="50">
            </car-statistic-element>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue, Watch} from "vue-property-decorator";
    import Car from "../models/Car";
    import CarStatus from "../models/CarStatus";
    import CarFilter from "../utils/CarFilter";
    import CarStatisticElement from "./CarStatisticElement.vue";
    import Notifications from "../utils/Notifications";
    import ParsedCar from "../models/ParsedCar";

    @Component({
        components: {
            CarStatisticElement
        }
    })
    export default class CarStatistic extends Vue {

        sortedCarDataUpdate: number = 0;

        parsedCars: ParsedCar[] = [];

        @Prop()
        carStatus: CarStatus;

        @Watch("carStatus.cars")
        onChildChanged(val: Car[], oldVal: Car[]) {
            this.parsedCars = [];
            for (let car of val) {
                this.parsedCars.push(new ParsedCar(car));
            }
        }

        getParsedCarsByModel(model: string) {
            if (model == "total") {
                return this.parsedCars;
            } else {
                return this.parsedCars.filter(c => c.model == model);
            }
        }

        get columnStyle() {
            return {
                width: this.columnWidth + "%"
            }
        }

        get models(){
            return ParsedCar.models;
        }
        get columnWidth() {
            return (100 / (this.models.length))
        }

        get equipmentName() {
            return ParsedCar.equipmentName
        }

        get equipments() {
            return ParsedCar.equipments
        }

    }

</script>

<style scoped>

</style>