<template>
    <div style="display: flex; flex-direction: row">
        <div v-bind:style="columnStyle"
             class="border-bottom border-left border-right car-statistic-element">
            {{model}}
        </div>

        <div v-for="equipment in equipments" v-bind:style="columnStyle"
             class="border-bottom border-right car-statistic-element"
             style="width: 50px;">
            {{getAnalyzedData(equipment)}}
        </div>

        <div v-bind:style="columnStyle"
             class="border-bottom border-right car-statistic-element"
             style="width: 50px;">
            {{getAnalyzedData("total")}}
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import CarList from "./CarList.vue"
    import CarStatistic from "./CarStatistic.vue"
    import ParsedCar from "../models/ParsedCar";

    @Component({
        components: {
            CarList, CarStatistic
        }
    })
    export default class CarStatisticElement extends Vue {

        @Prop()
        parsedCars: ParsedCar[];

        @Prop()
        model: string;

        @Prop()
        columnWidthPercent: number;

        @Prop()
        rowHeightPixel: number;

        get columnStyle() {
            return {
                width: this.columnWidthPercent + "%",
                height: this.rowHeightPixel + "px"
            };
        }

        getAnalyzedData(equipment: string) {
            if (equipment != "total") {
                let BS = this.getCounts(equipment, "benzin", "manual");
                let BA = this.getCounts(equipment, "benzin", "automatik");
                let DS = this.getCounts(equipment, "diesel", "manual");
                let DA = this.getCounts(equipment, "diesel", "automatik");

                if(BS == 0 && BA == 0 && DS == 0 && DA == 0){
                    return "";
                }
                let result: string = "BS(" + BS +"), "
                    + "BA(" + BA + "), "
                    + "DS(" + DS + "), "
                    + "DA(" + DA + ") ";
                return result;
            } else {
                return this.parsedCars.length;
            }
        }

        filterCars(equipment: string, motor: string, transmission: string) {
            return this.parsedCars.filter(e =>
                e.motor == motor
                && e.transmission == transmission
                && e.equipment == equipment
            )
        }

        getCounts(equipment: string, motor: string, transmission: string) {
            return this.filterCars(equipment, motor, transmission).length;
        }

        get equipmentName() {
            return ParsedCar.equipmentName
        }

        get equipments() {
            return ParsedCar.equipments
        }

        // benzin manual / benzin automatik / diesel manual / diesel automatik

    }
</script>

<style scoped>
    .car-statistic-element {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
</style>